<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
          http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">

  <display-name>Archetype Created Web Application</display-name>


  <servlet>
    <servlet-name>ServletDemo01</servlet-name>
    <servlet-class>zhaokl.http.servlet.ServletDemo01</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletDemo01</servlet-name>
    <url-pattern>/ServletDemo01</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ServletDemo02</servlet-name>
    <servlet-class>zhaokl.http.servlet.ServletDemo02</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletDemo02</servlet-name>
    <url-pattern>/ServletDemo02</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ServletDemo03</servlet-name>
    <servlet-class>zhaokl.http.servlet.ServletDemo03</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletDemo03</servlet-name>
    <url-pattern>/ServletDemo03</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ServletDemo04</servlet-name>
    <servlet-class>zhaokl.http.servlet.ServletDemo04</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletDemo04</servlet-name>
    <url-pattern>/ServletDemo04</url-pattern>
  </servlet-mapping>


  <servlet>
    <servlet-name>ServletDemo05</servlet-name>
    <servlet-class>zhaokl.http.servlet.ServletDemo05</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletDemo05</servlet-name>
    <url-pattern>/ServletDemo05</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ServletConfigDemo01</servlet-name>
    <servlet-class>zhaokl.servlet.config.ServletConfigDemo01</servlet-class>
    <init-param>
      <param-name>name</param-name>
      <param-value>zhaokl</param-value>
    </init-param>
    <init-param>
      <param-name>passward</param-name>
      <param-value>123</param-value>
    </init-param>
    <init-param>
      <param-name>charset</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletConfigDemo01</servlet-name>
    <url-pattern>/ServletConfigDemo01</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ServletContextDemo01</servlet-name>
    <servlet-class>zhaokl.servlet.context.ServletContextDemo01</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletContextDemo01</servlet-name>
    <url-pattern>/ServletContextDemo01</url-pattern>
  </servlet-mapping>



</web-app>
